header {
  background-color: #fff;
  padding: 10px 0px;
  width: 100%;
  z-index: 9999;
}
.height {
  height: 105px;
}
label.text i{
  cursor: pointer;
}
i[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  color: #000000;
  transform: scale(0);
  transition: 0.2s ease-in-out;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  box-shadow: -3px 4px 20px 0px #00000087;
}

i[data-tooltip]:hover::after {
  transform: scale(1);
  bottom: -85px;
  left: -10px;
  right: 10px;
}
header .header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header .logo-block img {
  max-width: 260px;
  display: block;
  transition: 0.3s all ease-in-out;
}
header.size img {
  max-width: 150px;
  transition: 0.3s all ease-in-out;
}
header .class-start .title-class {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
}
header .first-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .class-start span {
  width: 30px;
  height: 30px;
  background-color: #bf4864;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
header .class-start span svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}
header .class-start p {
  font-size: 14px;
  font-weight: 600;
}
header .class-start p a{
  color: #bf4864;
}
.hamberger {
  display: none;
}
.hamberger svg {
  width: 22px;
}
.mobile-menus ul li a{
  color: #fff;
}
.menus-title{
  position: relative;
  display: inline;
  padding-right: 10px;
}
li.child-menus .menus-title:after{
  position: relative;
  content: "";
  display: inline-flex;
  width: 8px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  top: -4px;
  left: 10px;
  transform: rotate(45deg);
  transition: .3s ease;
}
.child-menus.show .menus-title:after{
  transition: .3s ease;
  transform: rotate(225deg);
}
.sub-child{
 display: none;
}
.hero-section {
  position: relative;
}
.hero-section .hero-img {
  min-height: 560px;
  max-width: 100%;
  margin-left: auto;
  padding: 0px 20px;
}
.hero-section .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.hero-section .txt-block {
  position: relative;
  max-width: 558px;
  background-color: #0f0f0fab;
  margin-left: 0%;
  margin-top: 40px;
  border-radius: 15px;
  padding: 30px 50px 30px 60px;
  box-shadow: 0px 1px 6px 2px #0000004f;
}
.hero-section .txt-block h1 {
  color: #f0d79e;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.hero-section .txt-block p:last-child {
  font-size: 18px;
  line-height: 1.2;
}
.hero-section .right-side {
  flex-basis: 22%;
  margin-left: 20%;
  justify-content: right;
  display: flex;
  flex-wrap: wrap;
}
.hero-section .right-side iframe{
width: 100%;
}
.hero-section .right-side .registration-form-parent{
  background: #f0d79e;
}
.hero-section .right-side iframe .form-block-holder.registration-form{
  padding-bottom: 60px !important;
}
.hero-section .form-container {
  background-color: #f0d79e;
  padding: 25px 26px 25px;
  border-radius: 9px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-box-shadow: 0 0 20px 0 rgba(5, 5, 5, 0.2);
  box-shadow: 0 0 20px 0 rgba(5, 5, 5, 0.2);
  position: absolute;
  max-width: 360px;
  margin-bottom: 50px;
  top: 55%;
  z-index: 1;
}
.hero-section.pp .form-container {
  top: 0%;
}
.hero-section .form-heading {
  margin-bottom: 20px;
}
.hero-section .form-container h6 {
  font-weight: 600;
  margin-bottom: 10px;
}
.hero-section .form-container p {
  font-size: 14px;
}
.hero-section .form-container input {
  background-color: #fff;
  border: 2px solid rgba(5, 5, 5, 0.5);
  border-radius: 6px;
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 600;
  color: #505050;
  margin-bottom: 12px;
}
.hero-section .form-container select {
  background-color: #fff;
    border: 2px solid rgba(5, 5, 5, 0.5);
    border-radius: 6px;
    display: block;
    width: 100%;
    padding: 8px 12px;
    height: 37.6px;
    font-size: 16px;
    font-weight: 600;
    color: #505050;
    margin-bottom: 12px;
    outline: none;
}
.hero-section .form-container input[type="submit"] {
  background-color: #bf4864;
  border: 2px solid #102868;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
}
.hero-section .form-container label{
font-size: 14px;
}
label.text{
  display: inline;
    float: left;
    margin-bottom: 20px;
    position: relative;
}

.form-container:after {
  position: absolute;
  content: "";
  background-color: #fff;
  border-radius: 9pt;
  -webkit-clip-path: polygon(
    -0.92% -2px,
    100% 0.04%,
    101.38% 68.69%,
    64% 94%,
    60% 95%,
    56% 94%,
    73px 60.08%,
    1px 178px
  );
  clip-path: polygon(
    -0.92% -2px,
    100% 0.04%,
    101.38% 68.69%,
    64% 94%,
    60% 95%,
    56% 94%,
    73px 60.08%,
    1px 178px
  );
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.form-container .privacy {
  margin-top: 35px;
  display: block;
}
.form-container .privacy a i {
  padding-right: 6px;
}
.form-container .privacy a {
  text-align: center;
  width: 100%;
  display: block;
  padding: 12px 15px;
  font-size: 13px;
  background-color: #0000001f;
  border-radius: 6px;
}
.form-container .privacy a svg {
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
  margin-right: 4px;
}
.about-us {
  background-color: #f6f6f6;
  padding-top: 120px;
  padding-bottom: 100px;
}
.about-us .heading-txt {
  margin-bottom: 30px;
  max-width: 740px;
}
.about-us .txt-area{
  max-width: 740px;
  width: 100%;
}
.about-us .heading-txt h3{
  line-height: 1.3;
}
.about-us .head-left {
  max-width: 65%;
}
.head-left {
  position: relative;
  margin-bottom: 40px;
}
.head-left:after {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 0;
  width: 72px;
  height: 5px;
  background-color: #fec221;
  border-radius: 2.5px;
}
.heading-txt {
  margin-bottom: 50px;
}
.heading-txt span {
  position: relative;
  z-index: 1;
}

.heading-txt h2 span:after {
  top: 45px;
}

.link-section .link-tag {
  background-color: #fff;
  border: 1px solid rgba(5, 5, 5, 0.05);
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px 0 rgba(5, 5, 5, 0.1);
  box-shadow: 0 0 10px 0 rgba(5, 5, 5, 0.1);
  transition: 0.3s ease-in-out;
  height: 100%;
  padding: 6px;
  width: 100%;
  flex-basis: 46%;
  margin-right: 8%;
  margin-bottom: 30px;
  position: relative;
}
.link-section .link-tag:nth-child(2n + 2) {
  margin-right: 0%;
}
.link-section .link-tag:hover .flex-group {
  background-color: rgba(33, 93, 254, 0.15);
}
.link-section .link-tag .flex-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #eff4ff;
  border-radius: 6px;
  padding: 22px 18px;
  transition: 0.3s ease;
}
.link-section .link-tag a{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.link-section .flex-group .feature-icon {
  background-color: hsla(0, 0%, 100%, 0.5);
  margin-right: 20px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.link-section .flex-group .feature-icon svg {
  width: 44px;
  height: 44px;
}
.link-section .flex-group .feature-icon svg path {
  fill: #102868;
}
.link-section .flex-group .link-txt {
  flex-basis: calc(100% - 120px);
}
.link-section .flex-group .link-txt h6 {
  font-weight: 600;
  font-size: 18px;
}
.colleges-section .each-college {
  flex-basis: 31.333%;
  margin-right: 3%;
  border-radius: 25px;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
  padding: 24px;
  border-radius: 25px;
  min-height: 262px;
  transition: 0.3s ease-in-out;
}
.colleges-section .each-college .front-face {
  padding: 24px;
  border-radius: 25px;
  min-height: 262px;
  transition: 0.3s ease-in-out;
}
.colleges-section .each-college:hover .front-face {
  transform: scale(1.1);
}
.colleges-section .each-college:nth-child(3n + 3) {
  margin-right: 0%;
}
.colleges-section .each-college .college-name {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 6px;
}
.colleges-section .each-college .college-name h5 {
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
}
.colleges-section .each-college .button-class {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
a.cta {
  display: inline-block;
  color: #202020;
  border-radius: 5px;
  background-color: #f0d79e;
  font-size: 20px;
  text-decoration: none;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 9px 18px;
  border: 2px solid #f0d79e;
  transition: all 300ms ease;
  position: relative;
  cursor: pointer;
}
a.cta:after {
  position: absolute;
  content: "";
  background-image: url(./Images/right-arrow.png);
  opacity: 0;
  right: 35px;
  transition: all 300ms ease;
  width: 17px;
  height: 17px;
  top: 15px;
  display: block;
  filter: brightness(1) invert(1);
  z-index: 99;
  background-size: cover;
  filter: brightness(0.1);
}
a.cta:hover {
  border: 2px solid transparent;
  padding: 9px 40px 9px 18px;
  transition: all 300ms ease;
}
a.cta:hover:after {
  opacity: 1;
  right: 15px;
}
.scholarship {
  background-color: #f6f6f6;
  padding-bottom: 100px;
  overflow: hidden;
}
.scholarship .heading-txt {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;
}
.scholarship .scholarships-block {
  border: 1px solid rgba(33, 93, 254, 0.1);
  -webkit-box-shadow: 0 0 20px 0 rgba(5, 5, 5, 0.1);
  box-shadow: 0 0 20px 0 rgba(5, 5, 5, 0.1);
  background-color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 35px 80px 35px;
  flex-basis: 48%;
  margin-right: 4%;
}
.scholarship .scholarships-block:nth-child(2n + 2) {
  margin-right: 0;
}
.scholarship .scholarships-block .program-icon-title {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.scholarship .scholarships-block .program-icon {
  position: absolute;
  top: -62px;
  background-color: #bf4864;
  height: 152px;
  padding: 4pc 24px 24px;
  width: 112px;
  border-radius: 9px;
}
.scholarship .scholarships-block .program-icon:after {
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  height: 69.6px;
  width: 69px;
  position: relative;
  display: block;
  background-image: url(./Images/scholarship.svg);
}
.scholarship .scholarships-block .program-title {
  padding-left: 136px;
  position: relative;
}
.scholarship .scholarships-block .program-title p {
  margin: 10px 0px 15px;
}
.scholarship .scholarships-block .program-body {
  min-height: 130px;
}
.scholarship .scholarships-block .program-body p {
  margin-bottom: 20px;
}
.scholarship .scholarships-block .program-learn-more-content {
  background-color: hsla(0, 0%, 100%, 0.75);
  border-radius: 6px;
  margin-bottom: 30px;
  padding: 9pt 0 9pt 9pt;
  display: flex;
}
.scholarship .scholarships-block .program-side-border {
  background-color: #f0d79e;
  border-radius: 3px;
  margin-right: 9pt;
  width: 6px;
  display: block;
  height: 45px;
}
.scholarship .scholarships-block .program-learn-more-txt p {
  font-size: 14px;
}
.scholarship .scholarships-block .program-learn-more-txt h6 {
  color: #215dfe;
  font-weight: 600;
  font-size: 16px;
}
.accordian {
  background-color: #bf4864;
}
.accordian .content_main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 0px;
}
.accordian .content_left {
  flex-basis: 50%;
}
.accordian .content_left {
  flex-basis: 50%;
}
.accordian .content_left .content_image {
  max-width: 380px;
  max-height: 543px;
  display: block;
  margin: auto;
}
.accordian .content_right {
  flex-basis: 50%;
}
.accordian .content_right h4 {
  margin-bottom: 20px;
}
.accordian .content_right p {
  margin-bottom: 20px;
}
.serv_acoordion_main {
  max-width: 1000px;
  margin: auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 80px 131px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: -104px;
  margin-bottom: -80px;
  position: relative;
}
.serv_acoordion_main .header-txt{
 margin-bottom: 35px;
}
.accordion-header-vfor-thelogistico {
  cursor: pointer;
  padding: 26px 40px;
}
.serv_acoordion_main .faq-content-box .tabber-body:not(:first-child) {
  display: none;
}
.serv_acoordion_main .tabber-body.active_tab_content {
  display: block;
}
.serv_acoordion_main .tab-list.no-list::-webkit-scrollbar {
  display: none;
}
.serv_acoordion_main .accordion-body-container {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}
.serv_acoordion_main .accordion-item {
  background: #ffffff;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
}
.serv_acoordion_main .accordion-item:not(:last-child) {
  margin-bottom: 40px;
}
.serv_acoordion_main .accordion-button h6 {
  margin-bottom: 0;
  position: relative;
  padding-right: 30px;
  font-weight: 600;
}
.serv_acoordion_main .accordion-button h6:before {
  position: absolute;
  content: url(./Images/plus.svg);
  right: 0;
  width: 23px;
  height: 23px;
  top: 2px;
}
.serv_acoordion_main .active .accordion-button h6:before {
  position: absolute;
  content: url(./Images/minus.svg);
  right: 0;
  top: -5px;
  width: 23px;
  height: 23px;
}
.serv_acoordion_main .accordion-body .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 40px 30px;
}
.serv_acoordion_main .accordion-body .content_text {
  width: 48%;
  margin-right: 4%;
}
.serv_acoordion_main .accordion-body .content_image {
  width: 48%;
}
.serv_acoordion_main .accordion-body .content_image .item_image {
  max-width: 268px;
  min-height: 231px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.serv_acoordion_main .accordion-body .cta-container {
  margin-top: 40px;
  margin-bottom: 20px;
}
.testimonials {
  background-color: #f6f6f6;
  padding-top: 150px;
}
.testimonials .left-section {
  flex-basis: 46%;
  margin-right: 4%;
}
.testimonials .right-section {
  flex-basis: 50%;
  max-width: 50%;
}
.testimonials .left-section h2 {
  font-size: 48px;
}
.quotes_cards svg {
  width: 59px;
}
.quotes_cards img {
  display: block;
}
.quotes_cards .swiper-pagination {
  bottom: 3px;
}
.quotes_cards .swiper-slide {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  height: auto;
}
.quotes_cards .quotes_content_cover {
  padding: 50px;
  position: relative;
  margin-top: 27px;
  height: calc(100% - 27px);
  background-color: #fff;
  border-radius: 5px;
  filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.07));
}
.quotes_content p{
  margin-bottom: 10px;
}
.quotes_cards .quotes_svg_icon {
  position: absolute;
  top: -27px;
}
.college-degree .content-wrapper {
  max-width: 1600px;
}
.college-degree .txt-area {
  flex-basis: 50%;
  padding: 50px 63px;
  padding-top: 10px;
}
.college-degree .txt-area p{
  margin-bottom: 15px;
}
.college-degree .txt-area .button-class {
  margin-top: 30px;
}
.college-degree .img-area {
  flex-basis: 50%;
}
.college-degree .img-area img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.college-degree.section-divsion .txt-area {
  flex-basis: 80%;
  }
  .section-divsion .dollet{
    max-width: 900px;
    margin: 0px auto;
  }
  .section-divsion .two-col .de-el{
    margin-bottom: 30px;
    flex-basis: 46%;
    margin-right: 8%;
  }
  .section-divsion .two-col .de-el:nth-child(2n+2){
    margin-right: 0%;
  }
  .section-divsion .two-col .de-el:last-child{
    margin-right: 0%;
  }
  .section-divsion .two-col .icon{
    margin-bottom: 15px;
    border-radius: 0;
  }
  .section-divsion .de-el .icon{
    width: 50px;
    height: 50px;
    background-color: #f0d79e;
    padding: 12px;
    border-radius: 25px 10px;
    margin-right: 30px;
    font-weight: 700;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .center-heading{
    max-width: 880px;
    margin: 0px auto 80px;
  }
  .center-heading h2{
    margin-bottom: 18px;
  }
  .center-heading p{
    margin-bottom: 10px;
  }
  .center-heading .img-block{
    background-color: #bf4864;
    border-radius: 15px;
    padding: 30px;
    width: 200px;
    display: flex;
    margin: 0px auto 30px;
    align-items: center;
    justify-content: center;
  }
  .center-heading .img-block img{
    height: 70px;
  }
  .swiper-box{
    margin-top: 80px;
    position: relative;
    overflow: hidden;
  }
  .swiper-box img{
    width: 180px;
    margin: 0px auto;
  }
  .swiper-box .swiper-pagination{
    bottom: -50px !important
  }
  .accordian.txt .content_left{
    margin-bottom: 120px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
  }
  .form-bg{
    position: fixed;
      top: 50%;
      z-index: 9999;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: #727272;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: scroll;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease;
      padding: 40px 0px;
  }
  .form-container.fixed form{
    text-align: left;
  }
  .form-bg.show{
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease;
  }
  .form-container.fixed{
    position: relative;
      top: 0%;
      background-color: #f0d79e;
      padding: 40px;
      text-align: center;
      max-width: 700px;
  }
   .close{
    position: absolute;
      top: 0;
      right: 0;
      background-color: #fff;
      padding: 6px 15px;
      font-size: 20px;
      font-weight: 700;
      border-radius: 50%;
      cursor: pointer;
  } 






footer.footer {
  position: relative;
  z-index: 10;
  padding-top: 95px;
  padding-bottom: 27px;
  background-color: #102868;
}
.fm_logo,
.fm_logo span {
  font-size: 0;
  line-height: 0;
}
.fm_logo {
  margin-bottom: 35px;
  max-width: 250px;
}
.fm_desc {
  margin-bottom: 16px;
}
.fm_social {
  text-align: left;
  font-size: 0;
  line-height: 0;
}
.fm_social a {
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  background: transparent;
  text-align: center;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  position: relative;
  transition: 0.3s;
  border-color: #c7c5c5;
}
.fm_social a svg {
  width: 20px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
}
.fm_social a:hover {
  border-color: #215dfe !important;
  background: #215dfe;
}
/* .fm_social a:hover svg{
  fill: var(--secondary_color);
} */
.fml_title h4 {
  margin-bottom: 25px;
}
.fml_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fml_nav ul li.hs-menu-item {
  position: relative;
  padding-left: 20px;
}
.fml_nav ul li.hs-menu-item:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #fff;
  transition: 0.3s;
}
.fml_nav ul li.hs-menu-item:not(:last-child) {
  margin-bottom: 10px;
}
.fml_nav ul li.hs-menu-item:hover a,
.fmd_inner:hover .fmd_text p {
  color: #c5d4fc;
}
.fml_nav ul li.hs-menu-item:hover:before {
  background: #c5d4fc;
}
.fmd_icon {
  clear: both;
  float: left;
  margin-right: 12px;
  width: 15px;
  margin-top: 2px;
}
.fmd_inner a{
  display: flex;
  margin-bottom: 12px;
}
.fmd_inner.fmdi_1 .fmd_icon {
  margin-top: 5px;
}
.footer .footer_main svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}
.fmt_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 8px;
}
.fmt_outer .fmt_inner span:nth-child(2n + 1) {
  min-width: 100px;
}
.fm_col {
  position: relative;
  width: 100%;
  min-height: 1px;
}
.foo_scroll {
  font-size: 0;
  line-height: 0;
  text-align: right;
}
a#scrollButton svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  fill: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a#scrollButton {
  display: inline-block;
  background-color: #f0d79e;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 6px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer_bottom {
  padding-top: 20px;
}
.footer_bottom .fb_content {
  width: 100%;
  text-align: center;
}
.footer_bottom .fb_content p a{
  color: #f0d79e;
}

/* ================================================  andrews ========================================== */

.andrews .simple-hero-section {
  /* background-color: #373737; */
  background-image: url(./Images/adventistchurchcollege.jpg);
  position: relative;
}
.andrews .simple-hero-section:after{
  position: absolute;
  content: "";
  background: linear-gradient(87deg, #31303099, transparent);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.andrews .txt-section {
  flex-basis: 40%;
  padding: 40px 0px 80px;
  z-index: 1;
  position: relative;
}
.andrews .txt-section h1{
  color: rgb(255, 210, 77, 1.0);
    font-weight: 500;
    font-size: 34px;
}
.andrews .image-section {
  margin-left: 10%;
  flex-basis: 50%;
  position: relative;
  z-index: 1;
}
.andrews .image-section img{
  border-radius: 9px;
    top: -50px;
    position: absolute;
    height: 280px;
}

.communication-counter{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          padding: 65px 0px;
          background-color: #bf4864;
}
.communication-counter .counter-block{
  -ms-flex-preferred-size: 23.5%;
      flex-basis: 23.5%;
  margin-right: 2%;
  padding: 0px 10px;
  position: relative;
  text-align: center;
  color: #fff;
}
.communication-counter .counter-block:nth-child(4){
  margin-right: 0;
}
.communication-counter .counter-block.border:not(:nth-child(1)):after{
     position: absolute;
    content: "";
    top: 0;
    left: -10px;
    width: 2px;
    height: 102px;
    background-color: #cdcdcd;
}
.communication-counter .counter-block h5{
  padding-bottom: 10px;
}
.communication-counter .counter-block .number-count{
  font-size: 48px;
}
.communication-counter .counter-suffix {
  font-size: 24px;
}
.communication-counter .counter-block .counter-suffix.font-58{
  font-size: 58px;
}
.communication-counter .counter-block .counter-suffix.font-34{
  font-size: 34px;
  padding-left: 5px;
}

@media(max-width:767px){
  .hero-section .txt-block h1{
    font-size: 28px;
  }
  .communication-counter .counter-block .number-count {
    font-size: 34px;
  }
  .communication-counter .counter-block{
   -ms-flex-preferred-size: 100%;
       flex-basis: 100%;
  margin-right: 0%;
    padding-bottom: 40px;
  }
  .communication-counter .counter-block.border:not(:nth-child(1)):after{
    height: 74px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 50%;
    top: -65px;
  }
  .communication-counter .counter-block:nth-child(4){
   padding: 0;
  }
  .communication-counter .counter-block .counter-suffix.font-58{
   font-size: 34px;
  }
  .andrews .txt-section{
    padding: 20px 0px 40px;
  }
  .andrews .image-section{
    margin-left: 0;
  }
  .andrews .image-section img{
    position: relative;
    top: 0;
  }
  .accordian.txt .content_left{
    margin-bottom: 20px;
  }
}


.privacy-section{
  background-color: #eee;
  padding-top: 130px;
}
.privacy-section .content-start{
  background-color: #fff;
  padding: 80px 60px 60px;
  max-width: 1200px;
  margin: 0px auto;
}
.privacy-section .content-start p a{
color: #bf4864;
}


@media (max-width: 767px) {
  .privacy-section{
    background-color: #eee;
    padding-top: 60px;
  }
  .privacy-section .content-start{
    background-color: #fff;
    padding: 40px 40px 40px;
    max-width: 1200px;
    margin: 0px auto;
  }
}


@media (max-width: 480px) {
  .privacy-section{
    background-color: #eee;
    padding-top: 60px;
  }
  .privacy-section .content-start{
    background-color: #fff;
    padding: 40px 20px 40px;
    max-width: 1200px;
    margin: 0px auto;
  }
}

@media (max-width: 1200px) {
  .hero-section .right-side{
    flex-basis: 32%;
    margin-left: 15%;
  }
  .about-us .heading-txt{
    max-width: 740px;
  }
}


@media (min-width: 767px) {
  .mobile-menus {
    display: none !important;
  }
  .hamberger {
    display: none !important;
  }
  .footer_main {
    margin: 0 -15px 28px;
  }
  .fm_col {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .fm_col {
    padding-right: 15px;
    padding-left: 15px;
  }
  .heading-txt span:after {
    border-radius: 50px;
    content: "";
    height: 5px;
    left: -3px;
    position: absolute;
    top: 39px;
    width: 103%;
    z-index: -1;
    background-color: #f0d79e;
  }
}

@media (max-width: 767px) {
  .heading-txt h2 span:after {
    border-radius: 50px;
    content: "";
    height: 5px;
    left: -3px;
    position: absolute;
    top: 39px !important;
    width: 103%;
    z-index: -1;
    background-color: rgb(255, 210, 77, 1);
  }
  .heading-txt h3 span:after {
    border-radius: 50px;
    content: "";
    height: 5px;
    left: -3px;
    position: absolute;
    top: 34px !important;
    width: 103%;
    z-index: -1;
    background-color: rgb(255, 210, 77, 1);
  }
}
@media (min-width: 992px) {
  .fm_col {
    -ms-flex: 0 0 33%;
    -webkit-box-flex: 0;
    flex: 0 0 33%;
    max-width: 33%;
  }
}

@media (max-width: 1150px) {
  .about-us .heading-txt{
    max-width: 600px;
  }
  .about-us .txt-area{
    max-width: 600px;
  }
}

@media (max-width: 1024px) {
  .hero-section .txt-block {
    padding: 50px 30px 20px 30px;
    margin-bottom: 30px;
  }
  .hero-section .right-side {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0
  }
  .hero-section .form-container {
    position: relative;
    border-radius: 9px;
  }
  .hero-section .left-side{
    flex-basis: 100%;
    margin-right: 0;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .about-us {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero-section .form-container {
    top: 0px
  }
  .hero-section .hero-img {
    border-image: fill 0 linear-gradient(270deg, #00000000, #000);
    min-height: 420px;
  }
  .hero-section .txt-block {
    box-shadow: none;
    background-color: transparent;
  }
  .about-us .heading-txt{
    max-width: 100%;
  }
  .about-us .txt-area{
    max-width: 100%;
  }
  .scholarship {
    padding-bottom: 0;
  }
  .scholarship .scholarships-block {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .scholarship .scholarship-image {
    display: flex;
    justify-content: center;
  }
  .scholarship .scholarship-image img {
    max-width: 420px;
  }
  .serv_acoordion_main {
    margin-left: 20px;
    margin-right: 20px;
    padding: 80px;
  }
  .quotes_cards .quotes_content_cover {
    padding: 40px;
  }
  .testimonials .left-section h2 {
    font-size: 36px;
  }
  .college-degree .img-area img {
    min-height: 400px;
    object-fit: cover;
  }
  .college-degree.section-divsion .txt-area{
    flex-basis: 100%;
  }
}

@media (max-width: 991px) {
  .about-us .head-left {
    max-width: 55%;
  }
  .fm_col.fm_info,
  .fm_col.fm_links {
    margin-bottom: 40px;
  }
  footer.footer {
    padding-top: 45px;
  }
}

@media (max-width: 767px) {
  .height {
    height: 218px;
    display: none;
  }
  header {
    position: relative;
  }
  header .class-start {
    display: none !important;
  }
  header .header-flex {
    flex-direction: column-reverse;
  }
  header .first-group {
    width: 100%;
    margin-top: 15px;
  }
  header .class-start {
    display: grid;
    grid-auto-columns: max-content;
    justify-content: center;
  }
  .hamberger {
    display: block;
  }
  .mobile-menus {
    display: none;
    position: absolute;
    z-index: 9;
    width: 100%;
    background-color: #bf4864;
    top: 100%;
    padding: 12px 0px;
    opacity: 1;
    visibility: visible;
  }
  .mobile-menus ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .mobile-menus ul li {
    width: 100%;
    display: block;
    padding: 8px 20px;
    color: #fff;
    font-weight: 400;
  }
  .hero-section .form-container {
    padding: 30px 18px 30px;
  }
  .hero-section .right-side {
    justify-content: center;
    padding-bottom: 20px;
  }
  .about-us .head-left {
    max-width: 100%;
  }
  .colleges-section .each-college {
    margin-right: 0;
  }
  .accordian .content_main {
    display: block;
    margin: 0px;
  }
  .accordian .content_left .content_image {
    max-width: 280px;
  }
  .accordian .content_right {
    margin: 50px 0px 0px;
    text-align: center;
  }
  .serv_acoordion_main {
    margin: 40px 20px;
    padding: 20px;
  }
  .serv_acoordion_main .accordion-body .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 20px 20px 0px;
  }
  .serv_acoordion_main .accordion-body .content_text {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
  }
  .serv_acoordion_main .accordion-body .content_image {
    width: 100%;
    margin-top: 20px;
  }
  .serv_acoordion_main .accordion-body .content_image .item_image {
    max-width: 100%;
    margin-bottom: 0;
  }
  .accordion-header-vfor-thelogistico {
    padding: 26px 20px;
  }
  .serv_acoordion_main .accordion-body .cta-container {
    margin-bottom: 20px;
  }
  .testimonials {
    padding-top: 60px;
    text-align: center;
  }
  .quotes_cards .quotes_content_cover {
    padding: 30px;
  }
  .testimonials .left-section {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .right-section {
    max-width: 100%;
    width: 100%;
  }
  .testimonials .left-section h2 {
    font-size: 30px;
  }
  .college-degree .txt-area {
    padding: 0px 20px;
  }
  .college-degree .img-area {
    padding: 50px 20px 0px;
  }
  .fm_col.fm_det,
  .footer_main {
    margin-bottom: 40px;
  }
  .fmd_icon {
    height: unset;
  }
  .footer_bottom {
    text-align: center;
  }
  .section-divsion .two-col .de-el{
    margin-right: 0;
  }
  .section-divsion .de-el .icon{
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.txt-area ul.div{
  margin-top: 30px;
    margin-left: 20px;
    list-style: auto;
}
.txt-area ul.div .sub-div{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-us .txt-area p{
  margin-bottom: 10px;
}
 .txt-area ul{
  list-style: auto;
  padding-left: 20px;
}
 .txt-area ul li{
  margin-bottom: 10px;
}
.scholarship.np{
  padding-bottom: 50px;
}
.single-col{
  padding: 0px 40px;
}
.single-col img{
  width: 120px;
  margin: 30px auto 30px;
}
.single-col h6{
  margin-bottom: 10px;
  font-weight: 500;
}
.coupon-section{
  max-width: 600px;
  width: 100%;
  background-color: #eee;
  text-align: left;
  margin: 40px auto 0;
  padding: 40px;
}
.coupon-section .svg-class{
  width: 50px;
  flex-basis: 50px;
  margin-right: 20px;
}
.coupon-section .txt-class{
  flex-basis: calc(100% - 90px);
}
.coupon-section .txt-class p{
  margin-bottom: 0;
}
.price-block{
  background-color: #bf48642e;
    max-width: 600px;
    width: 100%;
    margin: 0px auto 10px;
    padding: 40px;
    text-align: center;
    border-top: 3px solid #bf4864;
}
.price-block.white{
  background-color: #fff;
}
.price-block h6{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 28px;
}
.price-block h5{
  margin-bottom: 10px;
}
.price-block p{
  font-size: 20px;
}
.scholarship .btn-class{
margin-top: 40px;
}
.accordian.sp .content_left{
  flex-basis: 100%;
}
.serv_acoordion_main.sp{
  margin-bottom: 80px;
}
.scholarship.np.nc{
  background-color: #fff;
}
.scholarship.np .heading-txt{
max-width: 920px;
margin: 0px auto 80px;
}
.scholarship.np .heading-txt h2{
  margin-bottom: 20px;
}
.accordian.sp .content_left{
  flex-basis: 100%;
}
.section-divsion .de-el{
  margin-bottom: 30px;
}
.section-divsion .de-el .icon{
  width: 50px;
  height: 50px;
  background-color: #f0d79e;
  padding: 12px;
  border-radius: 25px 10px;
  margin-right: 30px;
  font-weight: 700;
  align-items: center;
  display: flex;
  justify-content: center;
}
.section-divsion .de-el .icon svg{
  fill: #fff;
}
.section-divsion .de-el .txt{
  flex-basis: calc(100% - 150px);
}
.section-divsion .de-el .txt h4{
  margin-bottom: 10px;
}
.section-divsion .de-el .txt p{
  margin-bottom: 15px;
}
.section-divsion .two-col .de-el{
  margin-bottom: 30px;
  flex-basis: 46%;
  margin-right: 8%;
}
.section-divsion .two-col .de-el:nth-child(2n+2){
  margin-right: 0%;
}
.section-divsion .two-col .icon{
  margin-bottom: 15px;
  border-radius: 0;
}

.block .top-part{
  max-width: 400px;
  margin: 40px auto 20px;
    background-color: #bf4864;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    position: relative;
}
.block .top-part .no{
  font-size: 32px;
    margin-bottom: 5px;
}
.block .bottom-part {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0px auto;
}
.block{
  margin-bottom: 80px;
}
.block .bottom-part .singel{
  flex-basis: 30%;
    padding: 15px;
    background-color: #bf4864;
    color: #fff;
    border-radius: 10px;
    margin-right: 5%;
    position: relative;
}
.block .bottom-part .singel:nth-child(3n+3){
  margin-right: 0px;
}
.block .bottom-part .singel:not(:last-child):after{
  position: absolute;
  content: "";
  width: 60px;
  height: 5px;
  background-color: #bf4864;
  right: -50px;
  top: 50%;
  z-index: -1;
}
.block .bottom-part .singel svg{
  width: 15px;
  fill: #fff;
}
.section-divsion .dollet .icon{
border-radius: 50%;
}
/* .link-section .heading-txt{
  margin-bottom: 0;
} */
.block .bottom-part.special{
  max-width: 1200px;
}
.block .bottom-part.special .singel{
  flex-basis: 23%;
    margin-right: 2.66%;
}
.block .bottom-part.special .singel:nth-child(3n+3){
  margin-right: 2.66%;
}
.block .bottom-part.special .singel:nth-child(4n+4){
  margin-right: 0%;
}
.hero-section .icon-txt-block{
  padding: 20px 0px;
}
.hero-section .icon-txt{
  margin-top: 20px;
    display: flex;
}
.hero-section .icon-txt svg{
  height: 25px;
  width: 25px;
  fill: #ffffff;
  margin-right: 10px;
}
.scholarship.img .single-col img{
max-width: 260px;
width: 100%;
}
.bar-tag{
  padding: 20px 15px;
  background-color: #f0d79e;
  color: #000000;
  font-weight: 700;
}
.bar-tag p,
.bar-tag p a{
  font-weight: 600;
    color: #102868;
}
.scholarship.career{
  background-color: #fff8ec;
  padding-bottom: 80px;
}
.scholarship .txt-container{
  flex-basis: 50%;
}
.txt-container .top-txt{
  padding: 45px;
  background-color: #fff;
}
.scholarship .txt-container p,
.scholarship .txt-container h3{
  margin-bottom: 15px;
}
.scholarship .txt-container p a,
.scholarship .txt-container p span{
  color: #bf4864;
}
.scholarship .txt-container h3{
  color: #bf4864;
  font-weight: 600;
}
.scholarship .txt-container ul{
  margin-left: 15px;
}
.scholarship .txt-container ul li{
  margin-bottom: 12px;
}
.scholarship .img-container{
  flex-basis: 50%;
}
.bottom-txt{
  background-color: #2F2F2F;
  padding: 45px;
  border-top: 3px solid #f0d79e;
}
.flex-bolte{
  display: flex;
  align-items: center;
  color: #f0d79e;
  margin-bottom: 20px;
}
.flex-bolte svg{
  width: 30px;
  margin-right: 15px;
  fill: #f0d79e;
}
.bottom-txt p{
  color: #fff;
}
/* .flex-main{
  margin-bottom: 40px;
} */
.flex-main.rev{
 flex-direction: row-reverse;
}
.mb p{
  margin-bottom: 15px;
}
.certified .basis{
 flex-basis: 48%;
}
.certified .left-section{
 margin-right: 4%;
}
.certified .inner-block {
  background-color: #f0d79e;
  padding: 35px;
  border-top: 2px solid #bf4864;
}
.certified .right-section .inner-block{
margin-bottom: 30px;
}
.certified .color-block{
  background-color: #fff;
  padding: 15px;
  margin: 23px 0px;
}
.certified .color-block h5{
  margin-top: 10px;
  font-size: 22px;
}
.certified .inner-block ul{
  padding-left: 20px;
  padding-top: 15px;
}
.certified .inner-block ul li{
  margin-bottom: 8px;
    font-size: 20px;
}
.certified .heading-txt{
  max-width: 1020px !important;
  margin: 0px auto;
}
.about-us .form-container{
  margin: 40px auto 0px;
}

@media(min-width:1025px){
  .about-us .form-container{
    display: none;
  }
}


@media (max-width: 1024px) {
  .scholarship .flex-main{
    display: block;
  }
  .hero-section.pp .right-side{
    display: flex !important;
  }
  .hero-section .right-side{
    display: none;
  }
}

@media (max-width: 767px) {
  .txt-container .top-txt{
    padding: 25px;
  }
  .bottom-txt{
    padding: 25px;
  }
  .certified .left-section{
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .center-heading{
    margin: 0px auto 40px;
  }
}


@media (max-width: 480px) {
  .link-section .link-tag .flex-group {
    padding: 18px 12px;
  }
  .link-section .flex-group .feature-icon {
    margin-right: 10px;
    height: 46px;
    width: 46px;
  }
  .link-section .flex-group .feature-icon svg {
    width: 34px;
    height: 34px;
  }
  .link-section .flex-group .link-txt {
    flex-basis: calc(100% - 80px);
  }
  .scholarship .heading-txt {
    margin-bottom: 40px !important;
  }
  .scholarship .scholarships-block {
    padding: 35px 20px 0px;
  }
  .scholarship .scholarships-block .program-icon:after {
    height: 45px;
    width: 45px;
  }
  .scholarship .scholarships-block .program-icon {
    top: 15px;
    height: 80px;
    width: 80px;
    padding: 15px;
  }
  .scholarship .scholarships-block .program-title {
    padding-left: 100px;
  }
  .accordion-header-vfor-thelogistico {
    padding: 15px;
  }
  .serv_acoordion_main .accordion-button h6 {
    font-size: 16px;
  }
  .block .bottom-part .singel:not(:last-child):after{
    background-color: #bf4864;
    right: 43%;
    transform: rotate(90deg) translateY(-50%);
    top: 100%;
    z-index: -1;
  }
  .block .bottom-part .singel{
    margin-right: 0;
    margin-bottom: 20px;
  }
  .block .bottom-part.special .singel,
  .block .bottom-part.special .singel:nth-child(3n+3){
    margin-right: 0;
  }
  .block .bottom-part{
    display: block;
  }
  .block{
    margin-bottom: 60px;
  }
  .certified .inner-block{
    padding: 18px;
  }
}
